* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 2svh;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section {
  min-height: 96svh;
  max-width: 350px;
  margin: 0 auto;
  text-shadow: -2px -2px 10px rgb(0, 0, 0), 2px 2px 10px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 12px black, inset 0 -3px 7px black;
  border-radius: 60px;
  background-color: #3b000043;
  background: linear-gradient(to right, black, white, white, black);
}
.section-shadow-danger {
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 40px red, inset 0 -3px 7px black;
}
.section-shadow-success {
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 40px green, inset 0 -3px 7px black;
}
.section-shadow-clear {
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 40px lightseagreen, inset 0 -3px 7px black;
}
h1 {
  font-size: 45px;
  margin-top: 50px;
}

/* .opts {
  margin-top: 20px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.opts option {
  display: flex;
  align-items: center;
  border: 1px solid red
  width: 130px;
  height: 60px;
  white-space: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: #770000;
  box-shadow: 0 0px 8px rgb(150, 140, 130), inset 4px -4px 5px black;
}
.opts option:first-child {
  border-radius: 30px 0 0 0;
}
.opts option:nth-child(3) {
  border-radius: 0 30px 0 0;
}
.opts option:hover {
  cursor: pointer;
  transition: all 0.3s;

  text-shadow: 0 0 6px red;

  color: white;
  transform: scale(1.05);
  background-color: #ff0a0a;
}*/
.alert {
  margin-top: 10px;
  font-size: 16px !important;
  text-transform: capitalize;
  font-weight: 800;
}
.alert-danger {
  color: white;
  text-shadow: 0 0 10px red;
}
.alert-success {
  color: white;
  text-shadow: 0 0 10px greenyellow;
}
.alert-clear {
  color: white;
  text-shadow: 0 0 10px lightseagreen;
}
#form {
  width: 80%;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 900;
}
#form p {
  height: 30px;
  /* margin-top: 10px; */
  font-size: 13px;
}
.form-control {
  display: flex;
}
input {
  /* width: 100%; */
  color: lightgray;
  height: 36px;
  width: 70%;
  outline: none;
  border: none;
  background-color: rgb(24, 0, 0);
  padding: 15px;
  box-shadow: inset -4px 4px 7px black;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}
input:hover {
  font-size: 15px;
}
input:focus {
  background-color: rgb(149, 3, 3);
  color: white;
  font-size: 14px;
}
.submit-btn {
  width: 30%;
  height: 36px;
  border-radius: 0 25px 25px 0;
  box-shadow: 2px 0 10px black, inset 4px -4px 7px black;
  border: none;
}
.submit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 0 5px red, inset 2px -2px 6px black;
}
.submit-btn:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.786);
}

.list-container {
  margin-top: 30px;
  /* border: 1px solid red; */
  min-height: 280px;
  width: max-content;
}
.show {
  visibility: visible !important;
}
.list-items {
  /* border: 1px solid red; */
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 4px 16px;
  border-radius: 15px;
  color: white;
  background-color: #290000;
  box-shadow: 0 5px 8px black, inset 3px -3px 6px black;
}
.list-items:hover {
  transition: all 0.3s;
  text-shadow: 0 0 10px red;
  color: white;
  transform: scale(1.05);
  background-color: #005b7f;
}
.edit-btn,
.delete-btn {
  /* background-color: transparent; */
  box-shadow: 0 0 5px red, inset 2px -2px 5px black;
  margin: 0;
  padding: 5px;
  border: none;
  text-shadow: 0px 0px 10px gray;
}
.edit-btn {
  border-radius: 10px 0 0 10px;
  color: green;
}
.delete-btn {
  border-radius: 0 10px 10px 0;
  color: red;
}
.edit-btn:hover,
.delete-btn:hover {
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 2px 0 5px red, inset 2px -2px 6px black;
  transform: scale(1.3);
}
.edit-btn:hover {
  background-color: green;
  color: black;
}
.delete-btn:hover {
  background-color: red;
  color: black;
}

.clear-btn {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin: 20px 0;
  width: 92%;
  height: 36px;
  border-radius: 0 0 60px 60px;
  box-shadow: 2px 0 10px black, inset 4px -4px 7px black;
  border: none;
  visibility: hidden;
}
.clear-btn:hover {
  cursor: pointer;
  box-shadow: 2px 0 5px red, inset 2px -2px 6px black;
}
.clear-btn:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.618);
}
.active {
  color: white;
  transform: scale(1.05);
  background-color: orangered;
}
